@import 'tailwindcss';

@config '../tailwind.config.js';

/* https://uicolors.app/generate/ */
@theme {
  --color-royal-purple-50: #faf6fe;
  --color-royal-purple-100: #f2ebfc;
  --color-royal-purple-200: #e7dafa;
  --color-royal-purple-300: #d5bdf5;
  --color-royal-purple-400: #bc93ed;
  --color-royal-purple-500: #a16ae2;
  --color-royal-purple-600: #8b4ad3;
  --color-royal-purple-700: #7638b8;
  --color-royal-purple-800: #663399;
  --color-royal-purple-900: #522a79;
  --color-royal-purple-950: #371358;

  --beige: #f2f9e0ff;
--color-beige-50: #f2f9e0;
--color-beige-100: #ebf5d2;
--color-beige-200: #d7eda9;
--color-beige-300: #bcdf77;
--color-beige-400: #a0ce4d;
--color-beige-500: #82b42e;
--color-beige-600: #658f21;
--color-beige-700: #4d6e1d;
--color-beige-800: #3f571d;
--color-beige-900: #364b1c;
--color-beige-950: #1b290a;

  --ash-gray: #b8c6b1ff;
--color-ash-gray-50: #f6f8f5;
--color-ash-gray-100: #ebefe9;
--color-ash-gray-200: #d7dfd3;
--color-ash-gray-300: #b8c6b1;
--color-ash-gray-400: #8fa385;
--color-ash-gray-500: #6e8463;
--color-ash-gray-600: #576b4e;
--color-ash-gray-700: #475540;
--color-ash-gray-800: #3a4635;
--color-ash-gray-900: #313a2d;
--color-ash-gray-950: #171e15;


  --sea-green: #38945bff;
  --color-sea-green-50: #f0f9f2;
--color-sea-green-100: #dbf0df;
--color-sea-green-200: #b9e1c3;
--color-sea-green-300: #8acb9e;
--color-sea-green-400: #59ae77;
--color-sea-green-500: #38945b;
--color-sea-green-600: #277446;
--color-sea-green-700: #1f5d39;
--color-sea-green-800: #1b4a2f;
--color-sea-green-900: #173d28;
--color-sea-green-950: #0c2217;


  --eerie-black: #21211bff;
--color-eerie-black-50: #f7f7f6;
--color-eerie-black-100: #e6e5e1;
--color-eerie-black-200: #cdcbc2;
--color-eerie-black-300: #acaa9c;
--color-eerie-black-400: #8a8877;
--color-eerie-black-500: #706e5c;
--color-eerie-black-600: #595748;
--color-eerie-black-700: #49483c;
--color-eerie-black-800: #3c3b33;
--color-eerie-black-900: #34342d;
--color-eerie-black-950: #21211b;




}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
} */
html,
body {
  font-family: 'Nunito Sans';
  /* background: var(--color-eerie-black-50); */
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito Sans';
}

strong {
  font-weight: 600;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.text-white-90 {
  color: rgba(255, 255, 255, 0.9);
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn {
  font-weight: 600;
}

.text-uppercase {
  letter-spacing: .0625rem;
}

.fa-ul li {
  margin-bottom: .75rem;
}

.text-primary {
  color: #22bab9 !important;
}

a.text-primary:hover {
  color: #26d0ce !important;
}

.text-primary-dark {
  color: #111b56;
}

a.text-primary-dark:hover {
  color: #1a2980 !important;
}

.font-weight-600 {
  font-weight: 600;
}

.text-back {
  position: absolute;
  top: -3rem;
  right: 2rem;
  font-size: 500%;
  font-weight: 700;
  opacity: .04;
  z-index: 0;
}

.rounded-xl {
  border-radius: 3rem;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(26, 41, 128, 0.175) !important;
}

.border-2x {
  border-width: 2px;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.btn-primary {
  background: #26d0ce;
  border-color: #26d0ce;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background: #22bab9;
  border-color: #22bab9;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background: #26d0ce;
  border-color: #26d0ce;
}

.btn-dark {
  background: #0e4f4e;
  border-color: #0e4f4e;
}

.btn-dark:not(:disabled):not(.disabled):hover {
  background: #167a79;
  border-color: #167a79;
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active {
  background: #0e4f4e;
  border-color: #0e4f4e;
}

#page-container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  /* background-color: #fff; */
}

.container.container-big {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.container.container-footer {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.square {
  position: absolute;
  display: block;
  top: -5%;
  left: -5%;
  width: 100%;
  height: 700px;
  opacity: .52;
  z-index: 0;
  background: #1a2980;
  background: linear-gradient(to right, var(--color-royal-purple-900), var(--color-royal-purple-500));
}

@media (min-width: 992px) {
  .square {
    width: 80%;
  }
}

.square-1 {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.square-2 {
  left: -3%;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}

.square-flipped.square {
  top: auto;
  right: -5%;
  bottom: -9%;
  left: auto;
  height: 350px;
  background: var(--color-sea-green-50),;
  background: linear-gradient(to right, var(--color-sea-green-500), var(--color-sea-green-900));
}

@media (min-width: 992px) {
  .square-flipped.square {
    width: 80%;
  }
}

.square-flipped.square-1 {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.square-flipped.square-2 {
  left: auto;
  right: -3%;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.img-clip-overlay {
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  will-change: transform;
}

.img-clip-overlay:hover {
  -webkit-transform: rotate3d(-0.5, 0.5, 0.1, 15deg);
          transform: rotate3d(-0.5, 0.5, 0.1, 15deg);
}

.bg-light {
  background-color: #f7f8fd !important;
}

.nav-header .nav-link {
  position: relative;
  padding: .375rem .125rem;
  font-weight: 600;
  color: #1a2980;
}

.nav-header .nav-link i {
  color: #26d0ce;
}

.nav-header .nav-link::before {
  position: absolute;
  top: -.25rem;
  right: -.75rem;
  bottom: -.25rem;
  left: -.75rem;
  content: '';
  background-color: transparent;
  transition: -webkit-transform .12s ease-out;
  transition: transform .12s ease-out;
  transition: transform .12s ease-out, -webkit-transform .12s ease-out;
}

.nav-header .nav-link:hover, .nav-header .nav-link:focus, .nav-header .nav-link.active {
  color: #111b56;
}

.nav-header .nav-link:hover::before, .nav-header .nav-link:focus::before, .nav-header .nav-link.active::before {
  background-color: rgba(26, 41, 128, 0.04);
}

.nav-header .nav-link:active::before {
  -webkit-transform: skewY(-3deg) translateX(-2px);
          transform: skewY(-3deg) translateX(-2px);
}

.nav-header .nav-link + .nav-link {
  margin-left: 2rem;
}
